version: '3.8'

services:
  swgoh-comlink:
    container_name: swgoh-comlink
    image: ghcr.io/swgoh-utils/swgoh-comlink:latest
    restart: always
    environment:
      APP_NAME: swgoh-comlink-dev
      PORT: 3000
    ports:
      - 5000:3000
    networks:
      - comlink

  swgoh-stats:
    container_name: swgoh-stats
    image: ghcr.io/swgoh-utils/swgoh-stats:latest
    restart: always
    depends_on:
      - swgoh-comlink
    environment:
      CLIENT_URL: http://swgoh-comlink:3000
      PORT: 3223
    volumes:
      - "./statCalcData:/app/statCalcData"
    ports:
      - 3223:3223
    networks:
      - comlink

  swgoh-ae:
    container_name: swgoh-ae
    image: ghcr.io/swgoh-utils/swgoh-ae2:latest
    restart: always
    ports:
      - 3123:80

networks:
  comlink: {}
