networks:
  comlink: {}

services:
  swgoh-comlink:
    container_name: swgoh-comlink
    image: ghcr.io/swgoh-utils/swgoh-comlink:latest
    restart: always
    environment:
      APP_NAME: your_app_name
    ports:
      - 3200:3000
    networks:
      - comlink
    healthcheck:
      test: ["CMD", "/swgoh-comlink", "--check"]
      start_period: 10s
      start_interval: 0.5s

  swgoh-stats:
    container_name: swgoh-stats
    image: ghcr.io/swgoh-utils/swgoh-stats:latest
    restart: always
    depends_on:
      swgoh-comlink:
        condition: service_healthy
    environment:
      CLIENT_URL: http://swgoh-comlink:3000
      PORT: 3223
    volumes:
      - "/opt/docker/statCalcData:/app/statCalcData"
    ports:
      - 3223:3223
    networks:
      - comlink
